= simple_form_for @office, :html => { :class => 'form-horizontal' } do |f|
  = render partial: 'shared/errors', locals: {model: @office}
  = f.input :name
  = f.input :description
  = f.input :open_at
  = f.input :close_at
  = f.association :building
  = f.input :on_floor, collection: 1..4
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), offices_path, :class => 'btn'
