= simple_form_for @office, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :description
  = f.input :open_at
  = f.input :close_at
  = f.input :building
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), offices_path, :class => 'btn'
