= simple_form_for @classroom, :html => { :class => 'form-horizontal' } do |f|
  = render partial: 'shared/errors', locals: {model: @classroom}
  = f.input :name
  = f.input :available_from
  = f.input :available_until
  = f.input :sits
  = f.association :building
  = f.input :on_floor, collection: 1..4
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), classrooms_path, :class => 'btn'
