%h1 Listing classrooms

%table
  %tr
    %th Name
    %th Available from
    %th Available until
    %th Sits
    %th Building
    %th
    %th
    %th

  - @classrooms.each do |classroom|
    %tr
      %td= classroom.name
      %td= classroom.available_from
      %td= classroom.available_until
      %td= classroom.sits
      %td= classroom.building
      %td= link_to 'Show', classroom
      %td= link_to 'Edit', edit_classroom_path(classroom)
      %td= link_to 'Destroy', classroom, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Classroom', new_classroom_path
