.row-fluid
  = simple_nested_form_for @building, :html => { :class => 'form-horizontal' } do |f|
    = f.input :name
    = f.input :abbreviation
    = f.input :rooms
    = f.input :floors
    %ul.nav.nav-tabs#tab
      %li
        %a{"data-toggle" => "tab", href: "#div_classrooms"} Classrooms
      %li
        %a{"data-toggle" => "tab", href: "#div_offices"} Offices
    .tab-content
      #div_classrooms.tab-pane.active
        = f.link_to_add 'Add a Classroom', :classrooms, {class: 'btn btn-small btn-primary pull-right'}
        .span10
          = f.fields_for :classrooms
      #div_offices.tab-pane
        = f.link_to_add 'Add a Office', :offices, {class: 'btn btn-small btn-primary pull-right'}
        .span10
          = f.fields_for :offices

    .span12
      .form-actions
        = f.button :submit, :class => 'btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), buildings_path, :class => 'btn'

:javascript
  $(document).ready(function() {
     $('#tab a:last').click(function (e) {
       e.preventDefault();
       $(this).tab('show');
     });

      $('#tab a:first').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

    $('#add_classroom').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

      $(function() {
        $('#tab a:first').tab('show');
      })
  });