= simple_form_for(@building) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :abbreviation
    = f.input :rooms
    = f.input :floors

  .form-actions
    = f.button :submit
