= simple_form_for @reservation, :html => { :class => 'form-horizontal' } do |f|
  = render partial: 'shared/errors', locals: {model: @reservation}
  .row-fluid
    .span6
      = f.input :name, :wrapper => :prepend, :class => 'inline' do
        = content_tag :span, 'N', :class => 'add-on abbn'
        = f.input_field :name, placeholder: 'Name'
      = f.input :description, placeholder: 'Description', input_html: {rows: 5, class: 'span10'}
      = f.input :email_petitioner, :wrapper => :prepend, :class => 'inline', label: 'Email' do
        = content_tag :span, '@', :class => 'add-on abbn'
        = f.input_field :email_petitioner, placeholder: 'Email'
      .control-group
        = f.label :classroom_id, label: 'Room'
        .controls
          = f.collection_select :classroom_id, Classroom.all, :id, :name, include_blank: true, input_html:{class: 'span12'}
    .span6
      = f.input :js_start,  placeholder: 'dd/mm/yyyy 00:00:00 AM', require: true, as: :date_time_picker, label: 'Start'
      = f.input :js_finish,  placeholder: 'dd/mm/yyyy 00:00:00 AM', require: true, as: :date_time_picker, label: 'End'
      .control-group
        = f.label :state_id, label: 'State'
        .controls
          = f.collection_select :state_id, State.all, :id, :name, include_blank: true
      = f.input :notes, placeholder: 'Insert some notes here...', input_html: {rows: 5, class: 'span10'}
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), reservations_path, :class => 'btn'
