- model_class = Reservation
.page-header
  %h1= "Reservation: #{@reservation.name}"

= simple_form_for @reservation, :html => { :class => 'form-horizontal' } do |f|
  .row-fluid
    .span6
      = f.input :name, :wrapper => :prepend, :class => 'inline' do
        = content_tag :span, 'N', :class => 'add-on abbn'
        = f.input_field :name, disabled: true, placeholder: 'Name',required: false
      = f.input :description, disabled: true, placeholder: 'Description', input_html: {rows: 5, class: 'span10'}
      = f.input :email_petitioner, disabled: true, :wrapper => :prepend, :class => 'inline', label: 'Email' do
        = content_tag :span, '@', :class => 'add-on abbn'
        = f.input_field :email_petitioner, disabled: true, placeholder: 'Email'
      .control-group
        = f.label :classroom_id, label: 'Room'
        .controls
          = text_field_tag nil, @reservation.classroom.name, disabled: true
    .span6
      .control-group
        = f.label :js_start, label: 'Start'
        .controls
          = text_field_tag nil, @reservation.js_start, disabled: true
      .control-group
        = f.label :js_finish, label: 'End'
        .controls
          = text_field_tag nil, @reservation.js_finish, disabled: true
      .control-group
        = f.label :state_id, label: 'Status'
        .controls
          = text_field_tag nil, @reservation.state.name, disabled: true
      = f.input :notes, placeholder: 'Insert some notes here...', input_html: {rows: 5, class: 'span10'}, disabled: true

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), reservations_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_reservation_path(@reservation), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), reservation_path(@reservation), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
