%footer
  %ul.nav.nav-pills.pull-right
    %li= link_to 'Home', root_path
    %li= link_to 'Reservations', reservations_path
    %li= link_to 'Buildings', buildings_path
    %li= link_to 'Users', users_path
    %li= link_to 'AR Data', root_path
  .well
    %h5 About...
    %p
      ARIS is a system focused on make the student experience more enjoyable. This part of the system helps the administrators to maintenance the data neccesary for ARIS to work.

